.eventTypeNavButton#seminarsNav {
    background-color: lightgray;
}

.eventTypeNavButton#conferencesNav {
    background-color: lightgray;
}

.eventTypeNavButton#coursesNav {
    background-color: lightsteelblue;
}