/* EVENT NAVIGATION BAR */
/* Styles the navigation bar so that the courses tab is highlighted while the other two tabs are the default colour */

.eventTypeNavButton#seminarsNav {
    background-color: lightgray;
}

.eventTypeNavButton#conferencesNav {
    background-color: lightgray;
}

.eventTypeNavButton#coursesNav {
    background-color: lightsteelblue;
}