html {
	margin: 0;
	padding: 0;
    background-color: white;
}

body {
	width: 90%;
	margin: 0 auto;
	font: 100% "Trebuchet MS", Helvetica, sans-serif;
	padding: 1em 50px;
    background: white;
}

header {
        background: #FFE4C4;
    }
    
h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
}
    
h2 {font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
    }
    
h3 {
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
    color: gray;
    }
    
h4 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    color: gray;
    text-align: center;
    }
    
a {
    color: blue;
    text-decoration: none;
    }

/* added font for paragraph */

p1 {
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
}

p1.center {
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    text-align: center;
}



/* this applies to search bar and register form */

form {
    text-align: center;
    width: inherit;
    }

/* Input format for form */
input {
    text-align: center;
    }
    
select {
    display: block;
    margin: 0 auto;
    width: 24%;
    }
    
button {
      : 2px 4px; 
    height: 15px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

aside {
    float: right;
    background: #FFE4C4;
    border-color: gray;
}
    
.formSubmissionButton {
    display: block;
    margin: 0 auto;
    }
    
.centerText {
    text-align: center;
    }
    
nav a:link {
    text-decoration: none;
    color: white;
    }
    
nav a:visited {
    text-decoration: none;
    color: white;
    }
    
#siteNavBar{
    float: right;
    }

.siteNavButton {
    background: #ffab41;
    color: white;
    }

#searchBar {
    clear: right;
    background: #e3e3e3;
    }
    
#searchButton {
    float: right;
    color: white;
    background: #ffab41;
    }

#eventTypeNav {
    width: 100%;
    float: center;
    }
    
#eventTypeNavBar {
    list-style-type: none;

    overflow: hidden; 
    background: #bcbcbc;
    }
    
.eventTypeTab {
    float: left;
    }

li a{
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    color: white;
    }

/* For event tab */

li b {
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
}

li b:hover:not(.active){
    background-color: #bcbcbc;
}

ul.b {
    list-style-type: none;
    background-color: #bcbcbc;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.active {
    background-color: #ffab41;
}

#pageFooter {
    background: #FFE4C4; 
    }
    
#pageFooter a {
    color: black;
    text-decoration: none;
    font-size: 0.7em;
    }
    
#footerLinks {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: normal;
	font-style: normal;
    color: black;
    }

#speaker{
    }
    
.eventSummarySection{
    border-bottom-color: black;
    border-bottom-width: 0.5em;
    }
    
.eventImage {
    width: 50px;
    height: 50px;
    float: left;
    }
    
.eventSummaryDetails {
    list-style-type: none;
    color: darkgray;
    font-size: 0.7em;
    border-bottom-color: black;
    border-bottom-width: 0.5em;
    }
    
.favouriteButton {
    float: right;
    width: 2em;
    height: 2em;
    background: white;
    
    }
    
.calendarButton {
    float: right;
    width: 2em;
    height: 2em;
    background: white;
    }
    
.editEventButton {
    float: right;
    width: 20%;
    height: 10%;
    background: lightgray;
    color: gray;
    }
    
.dropbtn {
    background-color: #ffab41;
    color: white;
    padding: 2px 4px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown list content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bcbcbc;
    min-width: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

/* Dropdown list text */
.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

/* Dropdown list's colour when hover is on top */
.dropdown-content a:hover {background-color: #e6e6e6}

/* Dropdown list */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown button's colour when hover is on top */
.dropdown:hover .dropbtn {
    background-color: #ffe6cc;
}


input[type=text] {
    width: 93%;
    box-sizing: border-box;
    border: 0px;
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 0px 1px; 
    background-repeat: no-repeat;
}
