/* STYLING FOR HTML ELEMENT TAGS */

/* style for the whole page */
html {
	margin: 0;
	padding: 0;
    background-color: white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: normal;
	font-style: normal;
    color: black;
    font-size: 1em;
}

/* style for all non-header elements*/
body {
	width: 90%;
	margin: 0 auto;
	font: 100% "Trebuchet MS", Helvetica, sans-serif;
	padding: 1em 50px;
    background: white;
}

/* stlye for the header section  */
header {
        background: #FFE4C4;
    }

.notBlueLink{
    color:black;
}
    
/*h1 is the page title RIN*/
h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
}

/*h2 is the subtitle (e.g. Manage My Events)*/
h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
    }

/* NOTE: Saw a video on lynda.com that said not to use h5 unless referrring to headings so we can maybe make a new class for the text in the event descriptions instead of using h5 for it? Like <p class = "moreDetails">? */
/* new font format for paragraph text */
h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: grey;
    text-align: left;
}

button {
    height: 20%;
    border: none;
    word-wrap:break-word;
    border-radius: 25px;
    text-align: center;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }


/* applies to the sign in page - or anything we want it to be center */
.centerText {
    text-align: center;
    }

/* NAVIGATION BAR STYLING */
/* MABEL - change positioning of this so it sits in the same line at h2 (where h2 is e.g. 'Home') */

/* Section for the navigation buttons, including Home, Create New Event */
#siteNavBar{
    float: right;
    position: relative;
    top: -20px;
    }

/* MIGHT NEED EDITING */
/* Buttons for site navigation */
.siteNavButton {
background: #ffab41;
    color: white;
}

/* Applies only to the links that are within the tag #siteNavBar */
#siteNavBar a {
    text-decoration: none;
    color: white;
    }
    
/* For the drop down list z-index from My account */ 
#iefix {
    position: relative;
    /*z-index: 100000;*/
}

/* Drop down button - My account */ 
.dropbtn {
    background-color: #ffab41;
    color: white;
    height: 20%;
    font-size: 0.55em;
    border: none;
    cursor: pointer;
    
}

/* Drop down position - My account */ 
.dropdown {
    position: relative;
    display: inline-block;
    top: 0px;
    z-index: 3; /*This fixed the dropdown menun issue */
    
}

/* Dropdown list background */
.dropdown-content {
    display: none;
    position: absolute;
    /*z-index: = 2000;*/
    background-color: #bcbcbc;
    min-width: 8px;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    overflow:hidden;
}

/* Dropdown list text */
.dropdown-content a {
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
    font-size: 0.55em;
}

/* Dropdown list's colour when hover is on top */
.dropdown-content a:hover {
    background-color: #e6e6e6
}

/* Dropdown list when hover on top */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* STYLING FOR SEARCH SECTION */

/* encompasses the search field and the search button */
#searchBar {
    position: relative;
    background: #e3e3e3;
    height: 26px;
    }
    
/* user types search terms here */
#searchField {
    width: 80%;
    border: 0px;
    border-radius: 3px;
    font-size: 12px;
    text-align: left;
    background-color: white;
    position: relative;
    top:-18px;
    right: -2px;
}

/* for search button */
#searchButton {
    position: relative;
    right: -220px;
    bottom: -5px;
    color: white;
    float:right;
    width: 15%;
    height:60%;
    background-color: #ffab41;
    }

/*h4 is the small at the top of individual pages, e.g. "Register"*/
h4 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    color: gray;
    text-align: center;
    }
    
/*The search filter section */
#expandedSearch{
    width: 100%;
    height: 8.5em;
   /* float: left;*/ /*THIS WAS THE REASON FOR THE PROBLEM ON THE FAVOURITES PAGE */
    position: relative;
    background-color: #e3e3e3;
    }

/* style for the form holding the checkboxes for the filter terms */
#filterText {
    font-size: 0.6em;
    font-style: normal;
    color: gray;
    text-align: left;
    width: 50%;
    height: 12.5em;
    float: left;
    position: relative;
    right: -10px;
    background-color: #F5F5F5;
    top:3px;
}

/* Class for the style of checkbox, in order to overwrite the style of "input" */
.checkbox {
    text-align: center;
    width: 3em;
    position: relative;
    top: 2px;
    }

/* TO POSITION */
/* contains all date filters */
#dateFromFilters {
    font-size:1em;
    font-style: normal;
    float: left;
    position: relative;
    right: -22px;
    width: 45%;
    top:3px;
    background-color: #F5F5F5;
    height: 7.5em;
}

/* For expanded search's day selection */
.day {
     font-size: 0.6em;
    font-style: normal;
    color: gray;
    text-align: left;
    width: 120px ;
}

/* For expanded search's month selection */
.month {
    font-size: 0.6em;
    font-style: normal;
    color: gray;
    text-align: left;
    width: 120px ;
}

/* For expanded search's year selection */
.year {
    font-size: 0.6em;
    font-style: normal;
    color: gray;
    text-align: left;
    width: 120px;
}



/* STYLING FOR THE TABS (COURSES, CONFERENCES, ETC) */

/* Encompasses the seminars, courses, and conferences tabs */
/* Background section for the list containing the tabs seminars etc. */
/* this is a ul */
#eventNavList {
    list-style-type: none;
    overflow: hidden; 
    background: #e3e3e3;
    width: 100%;
    height:px;
    position: relaitve;
    margin: 0;
    padding: 0;
    }


/* for list item containing the courses, seminars, conferences buttons */

/* this is the background section for courses, seminars, conferences buttons */
.eventTypeNavButton {
    text-align: center;
    width: 33.3%;
    overflow:hidden;
    float:left;
    color: white;
    position: static;
    align-items: 
    background-color: #e3e3e3; 
}

/* Background colour for seminar button */
.active {
    background-color: #FFE4C4;
} 

/*This is the individual button setting*/

div.seminarsButton {
    width: 33.3%;
    padding: 2px 33.3%; 
    height: 15%;
    color: Black;
    font-style: bold;
    display: inline-block;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

/* END OF EVENT NAVIGATION LIST */

/* ACCORDION STYLING */
/* removes the arrow from the side of the accordion panels */
.accordion .ui-icon {
    display: none;
}

/* styles the accordion header - that is, what is visible when the accordion is unexpanded */
.accordion .ui-accordion-header {
    background: white;
    margin: 0px;
    padding: 1em 1em;
    color: gray;
    /*min-height: 120px;*/
    min-height: 120px;
    }
    
/* for active accordion header */
.accordion .ui-accordion-header-active {
    border-bottom: none;
    padding-bottom: 0em;
}
    
/* styles the accordion content - that is, what becomes visible when the accordion is expanded */
.accordion .ui-accordion-content {
    background: white;
    color: gray;
    margin: 0;
    padding-left: 1.6em;
    padding-top: 0;
    padding-bottom: 0em;
    }

/* styling for hashtags */
.accordion .ui-accordion-content .hashtag{ 
    color: #ffab41;
}

/* styling for link to events site */
.accordion .ui-accordion-content .linkToEventSite{ 
    color: darkblue;
}
    
/* EVENT DETAILS STYLING */

/* for event title */
h3 {
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
    color: gray;
    padding: 0em;
    margin: 0em;
}
    
/* for the user-uploaded image for the event */
.eventImage {
    width: 4.2em;
    height: 4.2em;
    float: left;
    padding: 0em;
    padding-top: 0.9em;
    margin: 0em;
    }
    
/*styling for icons */

/* styling for star icon */
.fa.fa-star {
    color: lightgray;
    position: absolute;
    right: 2.7em;
    top: 1.1em;
    display: inline;
}

/* styling for calender icon */
/*
.fa.fa-calendar {
    color: lightgray;
    position: absolute;
    right: 1em;
    top: 1.1em;
    display: inline;
}*/


.addtocalendar.atc-style-button-icon.atc-style-menu-wb {
    color: lightgray;
    position: absolute;
    right: 2.1em;
    top: 2em;
    display: inline;
}

.calendarButton {
    color: lightgray;
    position: absolute;
    right: 1em;
    top: 1.1em;
    display: inline;
}

/* for the container with un-expanded event summary (including images and icons) */
.eventSummarySection {
    position: relative;
    }
    
/* for summary of the event; the details of the event visible before it is expanded (not including images and icons) */
.eventSummaryDetails {
    list-style-type: none;
    font-size: 0.7em;
    padding-top: 1em;
    padding-left: 7em;
    color: gray;
 }
    
/* the further details of the event that are displayed when it has been expanded */
.furtherDetails p {
/*
    color: darkgray;
    font-size: 0.7em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    color: gray;
    */
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: normal;
	font-style: normal;
	margin: 1em 0; /* 1em for top and bottom margins, which is default for <p> */
	padding: 0px 0px;
    color: grey;
    text-align: left;
 }
 
 p.firstDetailsLine {
     margin-top: 0;
     padding-top: 0;
}

.furtherDetails {
margin-top: 0;
padding-top: 0;
}
 
 
 /* NOTE: Saw a video on lynda.com that said not to use h5 unless referrring to headings so we can maybe make a new class for the text in the event descriptions instead of using h5 for it? Like <p class = "moreDetails">? */
 /*
  font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 0.6em;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: grey;
    text-align: left;
    
    */

/* END OF EVENTS AND SUMMARY AND INFORMATION SECTION */


/*For anchor tags*/
a {
    color: blue;
    text-decoration: none;
    }
    
/* STYLING FOR THE FORM PAGES (REGISTRATION, LOGIN) */

/* Applies to all forms forms */
form{
    text-align: center;
    width: inherit;
    }

/* Input format for form */
input {
    text-align: center;
    width: 20em;
    }

/* Styling for select element for drop-down forms */
select {
    display: block;
    margin: 0 auto;
    width: 20.7em;
    }

/* Additional styling for form submission button */
.formSubmissionButton {
    display: block;
    margin: 0 auto;
    }
    
/* STYLING FOR PAGE FOOTER */

#pageFooter {
    background: #FFE4C4; 
    }
    
#pageFooter a {
    color: black;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: normal;
	font-style: normal;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

/* HELP PAGE STYLING */

.helpPageText {
    font-size: 0.8em;
    font-style: normal;
    text-decoration: none;
    text-align: left;
}

/* MANAGE MY EVENTS PAGE STYLING */

.eventApprovalStatus {
    position: absolute;
    right: 5%;
    top: 2em;
    display: inline-block;
    color: red;
    size: 1em;
}

.eventApprovalStatusText {
    font-size: 0.7em;
    display: inline-block;
}

.editEventButton {
    /*float: right;*/
    position: absolute;
    bottom: 20%;
    right: 5%;
    height: 15%;
    width: 14%;
    background: lightgray;
    color: gray;
    display: inline;
    padding: 0px;
}

.eventAttendanceDetails {
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    height: 1em;
    font-size: 0.5em;
}

.editEventText{
    font-size: 0.7em;
    display: inline-block;
}


/* Account Page Settings */

/* Style for the button's text */
.AccountSettingText {
    position: relative;
    height: 15%;
    width: 14%;
    display: inline;
    padding: 0px;
    font-size: 1em;
}

/* Style and size for the button */
.resetPasswordButton{
    font-size: 0.7em;
    display: inline-block;
    background: #ffab41;
    color: white;
    border-radius: 25px;
    float:left;
}

/* Style for the link to be white*/
.AccountSettingLink{
    color:white;
}
 