html {
	margin: 0;
	padding: 0;
    background-color: white;
}

body {
	width: 90%;
	margin: 0 auto;
	font: 100% Arial, Helvetica, sans-serif;
	padding: 1em 50px;
    background: white;
}

header {
        background: #FFE4C4;
    }
    
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
}
    
h2 {font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	margin: 0 0 0;
	padding: 0px 0px;
    color: black;
    }
    
h3 {
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
    color: gray;
    }
    
h4 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    color: gray;
    text-align: center;
    }
    
a {
    color: blue;
    text-decoration: none;
    }
    
    
form {
    text-align: center;
    }
    
input {
    text-align: center;
    }
    
select {
    display: block;
    margin: 0 auto;
    width: 24%;
    }
    
button {
    background: #ffab41;
    color: white;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

aside {
    float: right;
    background: #FFE4C4;
    border-color: gray;
    
}
    
.formSubmissionButton {
    display: block;
    margin: 0 auto;
    }
    
.centerText {
    text-align: center;
    }
    
nav a:link {
    text-decoration: none;
    color: white;
    }
    
    
nav a:visited {
    text-decoration: none;
    color: white;
    }
    
#siteNavBar{
    float: right;
    }

.siteNavButton {
    background: #ffab41;
    color: white;
    }

#searchBar {
    clear: right;
    background: #e3e3e3;
    }
    
#searchButton {
    float: right;
    color: white;
    background: #ffab41;
    }

#eventTypeNav {
    width: 100%;
    float: center;
    }
    
#eventTypeNavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background: #ffab41;
    }
    
.eventTypeTab {
    float: left;
    }
    
li a{
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    color: white;
    }
    
#pageFooter {
    background: #FFE4C4; 
    }
    
#pageFooter a {
    color: black;
    text-decoration: none;
    font-size: 0.7em;
    }
    
#footerLinks {
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.7em;
	font-weight: normal;
	font-style: normal;
    color: black;
    }

#speaker{
    }
    
.eventSummarySection{
    border-bottom-color: black;
    border-bottom-width: 0.5em;
    }
    
.eventImage {
    width: 50px;
    height: 50px;
    float: left;
    }
    
.eventSummaryDetails {
    list-style-type: none;
    color: darkgray;
    font-size: 0.7em;
    border-bottom-color: black;
    border-bottom-width: 0.5em;
    }
    
.favouriteButton {
    float: right;
    width: 2em;
    height: 2em;
    }
    
.calendarButton {
    float: right;
    width: 10px;
    height: 10px;
    }
    
.editEventButton {
    float: right;
    width: 20%;
    height: 10%;
    background: lightgray;
    color: gray;
    }
    




    
    
